.logo {
    padding: 20px;
    width: 350px;
    height: 200px;
}
.login-container {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    /* margin-left: 250px; */
    float: left;
}
.button {
    color: red;
}
.google {
    color: white
}

.loginContainerOne {
    width: 450px;
    margin: auto;
    height: 600px;
    /* margin-top: 200px; */
    margin-right: 50px;
    margin-left: 50px;
    /* z-index: -1;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,1.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 1.5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 1.5);
    border-radius: 5%; */
}
.social-sign-in {
    width: 300px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.social {
}

.loginContainerTwo {
    width: 450px;
    margin-left: 100px;
    height: 600px;
    /* margin-top: 200px; */
    /* margin-right: 300px; */
    /* z-index: -1;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,1.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 1.5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 1.5);
    border-radius: 5%; */
}
.loginForm {
   text-align: center;
   width: 400px;
}
.form-group {
padding: 20px;
}
.form-control {
    width: 400px;
}
.signUpTitle {
    padding-top: 20px;
    padding-left: 20px;
}
.logInpTitle {
    padding-top: 20px;
    padding-left: 20px;
}

    [class*="col-"] {
        width: 100%;
    }



@media only screen and (max-width: 768px) {

    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* margin-left: 250px; */
        float: left;
    }

}