.login-page {

}
.loginContainer {
    margin: 0 auto;
    height: 500px;
    position: absolute;
    top: 20%;
    bottom: 25%;
    left: 40%;

}

.loginForm {
   text-align: center;
   width: 500px;
}
.form-group {
padding: 20px;
}
.form-control {
    width: 400px;
}